
body, html {
  height: 100%;
}
body {

    background: lighten($baseDark, 75%);
    color: $baseDark;
    display:flex;
    flex-direction: column;
    font-family: $baseFont;

    &:after {
        @include shadow-bottom-fuzzy;
    }

    .amber {
      color: $amberScreen;
    }

    #__next {
      display:flex;
      flex-direction:column;
      flex: 1;

      main {
        flex: 1;
        padding: 2em;
      }

    }
}


h1, h2 {
  margin-bottom: 2rem;
}

p {
  margin: 1rem 0;
}

a {
  color: darken($greenScreen, 25%);
  font-weight: 400;
}

blockquote {
  color: lighten($baseDark, 15%);
  margin: 2vw 1vw;
  border-left: 4px solid silver;
  padding-left: 1rem;
}

@include headings();
