#__next > .footer {

    background: $baseLight;
    border-top:1px solid #ccc;
    color: black;
    display:flex;
    justify-content: space-around;
    padding: 2em;
    width:100%;

    h2 {
      margin-bottom: .5rem;
    }

    div {
      display:block;
    }

    .social {

      ul {

        list-style-type: none;
        margin: 0;
        padding: 0;

        li {

          align-items: flex-start;
          display:flex;
          line-height: 1.5rem;
          margin-bottom: 1rem;

          span {
            margin-right: .3rem;
          }

          a {
            text-decoration:none;
            color: $amberScreen;
          }
          .social-icon {
            height: 25px;
            width: 25px;
          }
        }
      }
    }

    .xkcd {
      width: 35vw;
    }

}

 @media (max-width: 959px) {

  #__next > footer {
    flex-direction:column;

    > div {
      margin-bottom: 3rem;
    }

    .xkcd {
      margin: auto;
      width: calc(100vw - 4rem);
    }

  }

}


// MODAL

.react-responsive-modal-closeButton {
  background: red;
  top:0;
  right:0;
}
