.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

nav {
    background:#000;
    color: $greenScreen;
    display:flex;
    font-family: $monoFont;
    font-size: 1.1rem;
    font-weight: bold;
    height:2em;
    letter-spacing: .1rem;
    line-height:2em;
    padding: 0 1rem;
    width: 100%;

    // Hidden checkbox
    #toggle { display:none; }

    span {
      padding: 0 .5em;
    }

    ul {
        display:flex;
        flex-direction:row;

        li {
            padding:0 .3em;
            position:relative;
        }

        li:hover {
           background:#ccc;

           a {
               color: #000;
           }
        }
    }

    a {
        text-decoration:none;
        color:$greenScreen;

        &:after {
            bottom:0;
            content:"";
            left:0;
            position:absolute;
            right:0;
            top:0;
        }
    }
}


@media screen and (max-width: 375px) {

  nav {
    span {
      // padding: 0 .1em;
    }
  }

}
